SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=postgresql://postgres:[pwd]@db.xxx.supabase.co:5432/postgres
SUPABASE_JWT_SECRET=

OPENAI_API_KEY=
GOOGLE_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=chat-wiki
